<h1>Here is the About Page</h1>
<p>I put my about stuff here</p>

<table>

  <th>Header</th>
  <tbody>

  <tr>
    <td>Stuff</td>
    <td>Other Stuff</td>

  </tr>

    <td>Stuff</td>
    <td> More Stuff Stuff</td>

  </tbody>


</table>

<%= link_to 'Go Back Home', root_path %>