<h1>Here is the Home Page</h1>
<p>I put my about stuff stuff stuff stuff here</p>

<table>

  <th>Header</th>
  <tbody>

  <tr>
    <td>Stuff</td>
    <td>Other Stuff</td>

  </tr>

  <td>Chinese Words</td>
  <td> More Stuff Stuff</td>

  </tbody>


</table>

<%= link_to 'Go to the About Pages', pages_about_path %>

<%= link_to 'Go to the Article Pages' , articles_path %>
